/* *******************typography*********/
h3 {
    font-size: 125%;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    margin: 30px auto;
    background-color: #f63854;
}
/* 1.5x */
p{
    line-height: 145%;
}

/* *************components*****************************/

/* containers*/
section {
    padding: 3rem 0rem;
}

/* 2 */
.container-parent {
display:flex;
justify-content: space-around;
flex-wrap: wrap;
gap:1rem
}
.container {
    width :30%;
    min-width : 25rem;
    margin-bottom: 3rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    transition: transform 0.4s;
}










.container:hover {
    transform: scale(1.05);
}


/* *************************** */

/* buttons */
.btn {
    display: inline-block;
    color: white;
    margin-right: 1rem;
    padding: 0.8rem 1.6rem;
    background-color: #f63854;
    border-radius: 4rem;
    border: 0.1rem solid #f63854;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.btn_empty {
    color: #f63854;
    background-color: transparent;

}

.btn:hover {
    transform: scale(1.2);
}

.btn_empty:hover {
    color: white;
    background-color: #f63854;
}

/* ***********************************/
