* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.nav_wrapper {
  background-color: black;
  height: 7rem;
}

.search_sortWrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 4rem;

}

.search_input {
  height: 2rem;
  width: 15rem;
}

.categories_wrapper {
  background-color: rgb(226, 218, 218);
  height: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.category_option {
  height: 70%;
  width: 8rem;
  border-radius: 10px;
  background-color: transparent;
}


/*products section  */
.product_wrapper {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;

}

.product {
  border: 1px solid gray;
  padding: 1rem;
  text-align: center;
  height: 18rem;
  width: 20rem;
  overflow-y: auto;
}

.product_image {
  height: 200px;
  aspect-ratio: 3/4;
  text-align: center;
}

.pagination {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagenum {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.navbar{
  display: flex;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
}