html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* styling for comment box  */
.container {
    padding: 1rem 3rem;
}

.comment-container {
    padding-left: 1rem;
    border-left: 1px solid black;
}

.comment_text {
    margin-bottom: 0.5rem;
}

.comment-card {}

.reply {
    color: red;
    padding-left: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.comment-reply-container {
    margin-left: 4rem;
}


/* not selector*/
.comment-container:not(:first-child) {
    margin-left: 4rem;
}