.container {
    display: grid;
    place-items: center;
}

.star_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: lightblue;
}

.star {
    font-size: 2rem;
    color:gray;
}

.yellow{
    color:yellow
}